.card-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    padding: 20px;
  }
  .highlight{
    background-color: #ffffff;
    color: orange;
    text-decoration: none;
  }
  
  .card-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .header-title {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .header-description {
    font-size: 0.8rem;
    color: #666;
    max-width: 600px;
    line-height: 1.5;
    margin: 0 auto;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
  }
  
  .card-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(88, 88, 88, 0.1);
    padding: 20px;
    width: 450px;
    max-height: 400px;
    text-align: center;
  }
  
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card-description {
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #555;
  }
  
  .card-button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card-button:hover {
    background-color: #e64a19;
  }
  
  .card-image {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    
  }
  