/* Default state */
.slide-up {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  
  /* Visible state */
  .slide-up.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  
  @keyframes slideUp {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  